.top-tab{
  height: 80px;
  width: 100%;
  background-color: #619354;
  top: 0px;
  display: flex;
  align-items: center;
  border-top-right-radius: 25px;
}

.top-tab-button-game{
  margin-left: 15px;
  margin-right: 15px;
  width: 100%;
  height: 50px;
  border-radius: 50px;
  font-size: 18px;
}